<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
  <h1> Oops, error!</h1>
  <h2><%= @error %></h2>
  <p><a class="btn btn-primary btn-lg btn-block" href="/">Go Back and Try Again</a></p>
  </div>
</div>
