<div class="jumbotron">
  <h1 id="first_page_top">Can I drink the water here?</h1>
  <p>Search or share lead testing results for your house, apartment, school, or office building.</p>
  <div class="row" id="first_page_top">
    <% if url.include?("loggedin") %>
      <form action="/loggedin/<%= @user.id() %>/places/name" method="post">
    <% else %>
      <form action="/places/name" method="post">
    <% end %>
    <div class="col-sm-6 col-sm-offset-2">
      <div class="form-group">
        <label for="name" class="sr-only">Search by Place Name:</label>
        <input class="form-control input-lg" type="text" name="name" placeholder="Enter the name of a public place">
      </div>
    </div>
    <div class="col-sm-3">
      <button type='submit' class="btn btn-success btn-lg btn-block">Find by Name</button>
    </div>
    </form>
  </div>
  <div class= "row" id="first_page_bottom">
    <div class="col-sm-2">
      <% if url.include?("loggedin") %>
        <form action="/loggedin/<%= @user.id() %>/places/address" method="post">
      <% else %>
        <form action="/places/address" method="post">
      <% end %>
      <div class="form-group">
        <label for="street_number"class="sr-only">Street Number:</label>
        <input class="form-control input-lg" type="text" name="street_number" placeholder="Street Number">
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
        <label for="street_direction" class="sr-only">Direction:</label>
        <select class="form-control input-lg" type="text" name="street_direction" placeholder="Direction">
          <option value="" selected disabled>Direction</option>
          <option value="SE" name="SE">SE</option>
          <option value="NE" name="NE">NE</option>
          <option value="SW" name="SW">SW</option>
          <option value="NW" name="NW">NW</option>
          <option value="N" name="N">N</option>
        </select>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
        <label for="street_name" class="sr-only">Street Name:</label>
        <input class="form-control input-lg" type="text" name="street_name" placeholder="Street Name">
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
        <label for="street_type" class="sr-only">Street type:</label>
        <select class="form-control input-lg" type="text" name="street_type">
          <option value="" selected disabled>Type</option>
          <option value="Street" name="Street">Street</option>
          <option value="Avenue" name="Avenue">Avenue</option>
          <option value="Court" name="Court">Court</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <button type='submit' class="btn btn-success btn-lg btn-block">Find by Address</button>
    </div>
    </form>
  </div>
</div>
<div class="well">
  <div class="row">
    <h1 class="center"> Lead and Water and Lead and Water and Lead </h1>
    <h2 class="lead center"> Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum </h2>
    <p> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h1 class="center"> And some more stuff about lead... </h1>
    <h2 class="lead center"> Lorem ipsum? </h2>
    <p> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
  </div>
  <div class="col-sm-6">
    <h1 class="center"> Lead is Bad!</h1>
    <h2 class="lead center"> Blah blah </h2>
    <p> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
  </div>
</div>
