<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet" type="text/css" media="all">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Level</title>
  </head>
  <body>
    <div class="container-fluid">
      <header class="page-header">
        <ul class="nav nav-pills pull-right">
          <% if url.include?("loggedin") %>
          <li class="active"><a href="/logout">Logout</a></li>
          <li class="active"><a href="/loggedin/profile/<%= @user.id() %>">Profile</a></li>
          <% else %>
          <li class="active"><a href="/create">Create User</a></li>
          <li class="active"><a href="/login">Login</a></li>
          <li class="active"><a href="/">Home</a></li>
          <% end %>
        </ul>
        <% if url.include?("loggedin") %>
          <h3><a href="/loggedin/<%= @user.id() %>">Lead Level</a></h3>
        <% else %>
          <h3><a href="/">Lead Level</a></h3>
        <% end %>
      </header>
      <div class="pages">
      <%= yield %>
      </div>
      <div class="footer">
        <p>&copy; 2016 Alex Jacks, Matthew Giem, Bang Nguyen, and Molly McGlone</p>
      </div>
    </div>
  </body>
</html>
