<h1 class="center"> Create a new testing report for <%= @place.name %> </h1>
<% if url.include?("loggedin") %>
<form action="/loggedin/<%= @user.id() %>/result/<%= @place.id %>" method="post">
<% else %>
<form action="/result/<%= @place.id %>" method="post">
<% end %>
<div class= "row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="form-group">
      <label for="test_date">Date:</label>
      <input class="form-control input-lg" type="date" name="test_date">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="form-group">
      <label for="lab">Name of the lab that tested the sample:</label>
      <input class="form-control input-lg" type="text" name="lab">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="form-group">
      <label for="over_limit">Result of the test:</label>
      <select class="form-control input-lg" type="text" name="over_limit">
        <option value="true" name="true">Water tested over 15ppm for lead</option>
        <option value="false" name="false">Water did not test over 15ppm for lead</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-sm-offset-5">
    <br><button type='submit' class="btn btn-success btn-lg">Add this result</button>
  </div>
  </form>
</div>
