<h1></h1>
<form action="/user/new" method="post">
  <label>choose a user name:</label>
  <input type="text" name="user_name">
  <label>choose a password</label>
  <input type="password" name="password">
  <label>reenter password</label>
  <input type="password" name="password_confirmation">

  <button type="submit" name="button" class="btn-lg">Submit</button>

</form>
