.jumbotron {
  background: url('../img/water.jpg') center center;
  background-size: cover;
  background-color: inherit;
  text-align: center;
  color: black;
}

.jumbotron p {
  font-weight: bold;
}
.jumbotron h1 {
  font-size: 6em;
  color: black;
}

@media (max-width: 992px){
  img {
    display: none;
  }
}

.footer {
  margin-top: 4em;
  text-align: center;
}

.center {
  text-align: center;
}

.title {
  font-size: 4em;
}

#red {
  color: #ff0000;
}

#green {
  color: #33cc33;
}

#yellow {
  color: #ffcc00;
}

.row {
  margin-top: 3em;
}
